{% load static %}
<!DOCTYPE html>
<html lang="es">
<!-- ======================= Cabecera ================== -->
	<head>
		<meta charset="UTF-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>Normativas</title>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
  		<link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}">
	</head>
    <body>
<!-- ======================= Menú Lateral ================== -->
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                <li class="active">
                    <a href="#">
                            <img style="width:20px; height: 30px;" src="{% static '/img/favicon.png' %}">
                        </span>
                        <span class="title">S.U.C.I</span>
                    </a>
                </li>
                <li>
                    <a href="../../organizacion">
                        <i class="fa-solid fa-house"></i>
                        </span>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="activado">
                    <a href="../../organizacion/reglamentos" class="activadoa">
                        <i class="fa-solid fa-book"></i>
                        <span>Reglamentos</span>
                    </a>
                </li>

                <li>
                    <a href="../../organizacion/normativas">
                        <i class="fa-solid fa-book-open"></i>
                        <span>Normativas</span>
                    </a>
                </li>
                <li class="logout.new">
                    <a href="../modulos">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Volver</span>
                    </a>
                </li>
                <li class="logout">
                    <a href="{% url 'logout' %}">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="title">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
<!-- ==================== Panel Superior =================== -->
        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                <h2>Normativas</h2>
            </div>
            <div class="user--info">
                <div class="searh--box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Buscar" />
            </div>
                <img src="{% static 'img/ven911.jpg' %}">
                <h2 class="title">V{{request.user.username}}</h2>
            </div>
        </div>
<!-- ======================= Formulario ======================  -->
        <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
            <button id="myBtn" class="btn">Agregar</button>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" style="margin-top: -10px;">&times;</span>
                <div class="modal-header">
                    <h2>Agregar Reglamento</h2>
                </div>
                <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        
                        <div class="form-items">
                            <label>Nombre</label>
                            <br>
                            <input type="text" class="form-control" name="{{form5.name.html_name}}" placeholder="Ingrese el nombre" required>
                        </div>
                        <div class="form-items">
                            <label>Archivo</label>
                            <br>
                            <input type="file" class="form-control" name="{{form5.file.html_name}}" placeholder="Ingrese el Archivo" required>
                        </div>
                        <div class="form-items">
                            <label>Usuario</label>
                            <br>
                            <input type="text" class="form-control" name="{{form5.user.html_name}}" placeholder="Ingrese el usuario" required>
                        </div>
                        <div class="form-items">
                            <label>Fecha</label>
                            <br>
                            <input type="date" class="form-control" name="{{form5.date.html_name}}" placeholder="Ingrese la fecha" required>
                        </div>
                    </div>
                    <br>
                    <div align="center">
                        <input type="submit" class="btn" value="Enviar" style="width: 90px;">
                    </div>
                </form>
            </div>
        </div>
        <br>
<!-- ===================== Listar Archivos ====================  -->
        <div class="tabular--wrapper">
            <h3 class="main--title">Manuales</h3>
            <div class="table-container">            
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Archivo</th>
                            <th>Acciones</th>
                        </tr>
                        <tbody> 
                            {% for archivo in normativass %}
                                <tr>
                                    <td>{{ archivo.name }}</td>
                                    <td>{{ archivo.date }}</td>
                                    <td>{{ archivo.user }}</td>
                                    <td>
                                        <a href="../../media{{ archivo.file.url }}" style="color: black;">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                    </td>
                                    <td> 
                                        <a href="#" id="myBtnn3{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="#" id="myBtnn4{{ archivo.id }}" style="color: black;"><i class="fa-regular fa-file"></i></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="#" id="myBtnn2{{ archivo.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
                                        <div id="myModall3{{ archivo.id }}" class="modal">
                                            <div class="modal-content">
                                                <span class="closee3{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                                <div class="modal-header">
                                                    <h2>Modificar Normativa</h2>
                                                </div>
                                                <br>
                                                <form method="POST" action="normativas/update/{{ archivo.pk }}">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="form-items">
                                                            <label>Nombre</label>
                                                            <br>
                                                            <input type="text" class="form-control" name="{{ formen.name.html_name }}" placeholder="Ingrese el nombre" value="{{ archivo.name }}" required>
                                                        </div>
                                                        <div class="form-items">
                                                            <label>Usuario</label>
                                                            <br>
                                                            <input type="text" class="form-control" name="{{ formen.user.html_name }}" placeholder="Ingrese el usuario" value="{{ archivo.user }}" required>
                                                        </div>
                                                        <div class="form-items">
                                                            <label>Fecha</label>
                                                            <br>
                                                            <input type="date" class="form-control" name="{{ formen.date.html_name }}" placeholder="Ingrese la fecha" value="{{ archivo.date|date:"Y-m-d" }}" required>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div align="center">
                                                        <input type="submit" class="btn" value="Enviar" style="width: 90px;">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <script>
                                            var modall3{{ archivo.id }} = document.getElementById("myModall3{{ archivo.id }}");
                                            var btnn3{{ archivo.id }} = document.getElementById("myBtnn3{{ archivo.id }}");
                                            var spann3{{ archivo.id }} = document.getElementsByClassName("closee3{{ archivo.id }}")[0];
                                            btnn3{{ archivo.id }}.onclick = function() {
                                                modall3{{ archivo.id }}.style.visibility = "visible";
                                                modall3{{ archivo.id }}.style.opacity = 1;
                                            }
                                        
                                            spann3{{ archivo.id }}.onclick = function() {
                                                modall3{{ archivo.id }}.style.visibility = "hidden";
                                                modall3{{ archivo.id }}.style.opacity = 0;
                                            }
                                        
                                            window.onclick = function(event) {
                                                if (event.target == modall3{{ archivo.id }}) {
                                                    modall3{{ archivo.id }}.style.visibility = "hidden";
                                                    modall3{{ archivo.id }}.style.opacity = 0;
                                                }
                                            }
                                        </script>
                                        <div id="myModall4{{ archivo.id }}" class="modal">
                                            <div class="modal-content">
                                                <span class="closee4{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                                <div class="modal-header">
                                                    <h2>Modificar Archivo</h2>
                                                </div>
                                                <br>
                                                <form method="POST" action="normativas/updatef/{{ archivo.pk }}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="form-items" style="width: 100%;">
                                                            <label>Archivo</label>
                                                            <br>
                                                            <input type="file" class="form-control" name="{{ formenf.file.html_name }}" placeholder="Ingrese el archivo" required>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div align="center">
                                                        <input type="submit" class="btn" value="Enviar" style="width: 90px;">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <script>
                                            var modall4{{ archivo.id }} = document.getElementById("myModall4{{ archivo.id }}");
                                            var btnn4{{ archivo.id }} = document.getElementById("myBtnn4{{ archivo.id }}");
                                            var spann4{{ archivo.id }} = document.getElementsByClassName("closee4{{ archivo.id }}")[0];
                                            btnn4{{ archivo.id }}.onclick = function() {
                                                modall4{{ archivo.id }}.style.visibility = "visible";
                                                modall4{{ archivo.id }}.style.opacity = 1;
                                            }
                                        
                                            spann4{{ archivo.id }}.onclick = function() {
                                                modall4{{ archivo.id }}.style.visibility = "hidden";
                                                modall4{{ archivo.id }}.style.opacity = 0;
                                            }
                                        
                                            window.onclick = function(event) {
                                                if (event.target == modall3{{ archivo.id }}) {
                                                    modall4{{ archivo.id }}.style.visibility = "hidden";
                                                    modall4{{ archivo.id }}.style.opacity = 0;
                                                }
                                            }
                                        </script>
                                        <div id="myModall2{{ archivo.id }}" class="modal">
                                            <div class="modal-content">
                                                <span class="closee2{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                                                <div class="modal-header">
                                                    <form action="normativas/delete/{{ archivo.id }}" method="POST">
                                                        {% csrf_token %}
                                                        <br>
                                                        <div align="center">
                                                            <h2>¿Estás seguro de eliminar este registro?</h2>
                                                        </div>
                                                        <br><br>
                                                        <div align="center">
                                                            <input type="submit" class="btn" value="Eliminar" style="width: 90px;">
                                                        </div>
                                                    </form>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <script>
                                            var modall2{{ archivo.id }} = document.getElementById("myModall2{{ archivo.id }}");
                                            var btnn2{{ archivo.id }} = document.getElementById("myBtnn2{{ archivo.id }}");
                                            var spann2{{ archivo.id }} = document.getElementsByClassName("closee2{{ archivo.id }}")[0];
                                            btnn2{{ archivo.id }}.onclick = function() {
                                                modall2{{ archivo.id }}.style.visibility = "visible";
                                                modall2{{ archivo.id }}.style.opacity = 1;
                                            }
                    
                                            spann2{{ archivo.id }}.onclick = function() {
                                                modall2{{ archivo.id }}.style.visibility = "hidden";
                                                modall2{{ archivo.id }}.style.opacity = 0;
                                            }
                    
                                            window.onclick = function(event) {
                                                if (event.target == modall{{ archivo.id }}) {
                                                    modall2{{ archivo.id }}.style.visibility = "hidden";
                                                    modall2{{ archivo.id }}.style.opacity = 0;
                                                }
                                            }
                                        </script>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
<!-- =========== Scripts =========  -->
        <script src="{% static '/js/main.js' %}"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("myBtn");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
                modal.style.visibility = "visible";
                modal.style.opacity = 1;
            }

            span.onclick = function() {
                modal.style.visibility = "hidden";
                modal.style.opacity = 0;
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.visibility = "hidden";
                    modal.style.opacity = 0;
                }
            }
        </script>
    </body>
</html>
