{% load static %}
<!DOCTYPE html>
<html lang="es">
    <!-- ======================= Cabecera ================== -->
	<head>
		<meta charset="UTF-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>Organización</title>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  		<link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}">
	</head>
    <body>
    <!-- ======================= Menú Lateral ================== -->
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                    <li class="active">
                        <a href="#">
                                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                            </span>
                            <span class="title">S.U.C.I</span>
                        </a>
                    </li>
                    <li>
                        <a href="../organizacion">
                            <i class="fa-solid fa-house"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="../organizacion/reglamentos">
                            <i class="fa-solid fa-book"></i>
                            <span>Reglamentos</span>
                        </a>
                    </li>

                    <li>
                        <a href="../organizacion/normativas">
                            <i class="fa-solid fa-book-open"></i>
                            <span>Normativas</span>
                        </a>
                    </li>
                    <li class="logout.new">
                        <a href="../modulos">
                            <i class="fa-solid fa-arrow-left"></i>
                            <span>Volver</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="{% url 'logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="title"> Salir </span>
                        </a>
                    </li>
                </ul>
            </div>
    <!-- ==================== Panel Superior =================== -->
            <div class="main--content">
                <div class="header--wrapper">
                    <div class="header--title">
                        <h2>Inicio</h2>
                    </div>
                    <div class="user--info">
                        <div class="searh--box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Buscar" />
                    </div>
                        <img src="{% static 'img/ven911.jpg' %}">
                        <h2 class="title">V{{request.user.username}}</h2>
                    </div>
                </div>
    <!-- ========================= Tarjetas ====================== -->
        <div class="card--container">
            <h3 class="main--title">Total de informes</h3>
            <div class="card--wrapper">
            <div class="payment--card light-green ">
            <div class="card--header">
            <div class="amount">
                <span class="title">Normativas</span>
            </div>
            </div>
                <span class="card-detail"> {{ normativass.count }}</span>
            </div>
        <div class="payment--card light-green">
            <div class="card--header">
            <div class="amount">
                <span class="title">Reglamentos</span>
            </div>
            </div>
                <span class="card-detail"> {{ reglamentoss.count }}</span>
            </div>
        </div>
    </div>
    <!-- ================= Tablas ================ -->
        <div class="tabular--wrapper">
            <h3 class="main--title">Manuales recientes</h3>
                <div class="table-container">
                        <table>
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                            <th>Archivo</th>
                        </tr>
                        <tbody>
                            {% for a, b in objetos|slice:":9" %}
                                <tr>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.user }}</td>
                                    <td>{{ a.date }}</td>
                                    <td>
                                        <a href="../../media{{ i.1.file.url }}" style="color: black;">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ b.name }}</td>
                                    <td>{{ b.user }}</td>
                                    <td>{{ b.date }}</td>
                                    <td>
                                        <a href="../../media{{ i.1.file.url }}" style="color: black;">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    <!-- =========== Scripts =========  -->
    <script src="{% static 'js/main.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
