{% load static %}
<!DOCTYPE html>
<html lang="es">
    <!-- ======================= Cabecera ================== -->
	<head>
		<meta charset="UTF-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>Admin</title>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.icon' %}">
	</head>
    <body>
    <!-- ======================= Menú Lateral ================== -->
    <div class="sidebar">
        <div class="logo"></div>
            <ul class="menu">
                <li class="active">
                    <a href="#">
                            <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                        </span>
                        <span class="title">S.U.C.I</span>
                    </a>
                </li>            
                <li class="activado">
                        <a href="../admin" class="activadoa">
                            <i class="fa-solid fa-user"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="../admin/departamentos">
                            <i class="fa-solid fa-house-circle-check"></i>
                            <span>Departamentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="../admin/sedes">
                            <i class="fa-solid fa-building-user"></i>
                            <span>Sedes</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="{% url 'logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span class="title">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
        <!-- ==================== Panel Superior =================== -->
        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                    <h2>Admin</h2>
                </div>
                <div class="user--info">
                    <div class="searh--box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Buscar" />
                </div>
                    <img src="{% static 'img/ven911.jpg' %}">
                    <h2 class="title">V{{request.user.username}}</h2>
                </div>
            </div>
        <!-- =========== Formulario =========  -->
                <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
                    <button id="myBtn" class="btn">Agregar Usuario</button>
                </div>
                <br>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" style="margin-top: -10px;">&times;</span>
                        <div class="modal-header">
                            <h2>Agregar Usuario</h2>
                        </div>
                        <br>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                
                                <div class="form-items">
                                    <label>Nombre</label>
                                    <br>
                                    <input type="text" class="form-control" name="{{forml.nombre.html_name}}" placeholder="Ingrese el nombre" required>
                                </div>
                                <div class="form-items">
                                    <label>Apellido</label>
                                    <br>
                                    <input type="text" class="form-control" name="{{forml.apellido.html_name}}" placeholder="Ingrese el apellido" required>
                                </div>
                                <div class="form-items">
                                    <label>Cédula</label>
                                    <br>
                                    <input type="text" class="form-control" name="{{forml.username.html_name}}" placeholder="Ingrese la cédula" required>
                                </div>
                                <div class="form-items">
                                    <label>Tipo de Usuario</label>
                                    <br>
                                    <select name="{{forml.tipo.html_name}}" class="form-control">
                                        <option value="admin">Administrador</option>
                                        <option value="superu">Super Usuario</option>
                                        <option value="estandar">Estándar</option>
                                    </select>
                                </div>
                                <div class="form-items">
                                    <label>Contraseña</label>
                                    <br>
                                    <input type="password" id="password" class="form-control" name="{{forml.password.html_name}}" placeholder="Ingrese  la contraseña" required>
                                </div>
                                <div class="form-items">
                                    <label>Confirmar Contraseña</label>
                                    <br>
                                    <input type="password" id="confirm_password" class="form-control" name="password" placeholder="Ingrese  la contraseña" required>
                                </div>
                                <div class="form-items">
                                    <label>Sede</label>
                                    <br>
                                    <select name="{{forml.departamento.html_name}}" class="form-control" required>
                                        {% for sede in sedesp%}
                                            <option value="{{ sede.name }}">{{ sede.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-items">
                                    <label>Departamento</label>
                                    <br>
                                    <select name="{{forml.departamento.html_name}}" class="form-control" required>
                                        {% for dep in departamentosp%}
                                            <option value="{{ dep.name }}">{{ dep.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div align="center">
                                <input type="submit" class="btn" value="Enviar" style="width: 90px;">
                            </div>
                        </form>
                    </div>
                </div>
                <br>
    <!-- ===================== Listar Archivos ====================  -->
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>C.I.</th>
                        <th>Tipo de Usuario</th>
                        <th>Sede</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                    </tr>
                    {% for archivo in usersl %}
                    <tr>
                        <td>{{ archivo.nombre }}</td>
                        <td>{{ archivo.apellido }}</td>
                        <td>{{ archivo.username }}</td>
                        <td>{{ archivo.tipo }}</td>
                        <td>{{ archivo.sede }}</td>
                        <td>{{ archivo.departamento }}</td>
                        <td> <a href="#" id="myBtnn{{ archivo.id }}" style="color: #084337;"><ion-icon name="create-outline" style="font-size: 30px;"></ion-icon></a> </td>
                    </tr>
                    <div id="myModall{{ archivo.id }}" class="modal">
                        <div class="modal-content">
                            <span class="closee{{ archivo.id }} close" style="margin-top: -10px;">&times;</span>
                            <div class="modal-header">
                                <h2>Modificar Usuario</h2>
                            </div>
                            <br>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    
                                    <div class="form-items">
                                        <label>Nombre</label>
                                        <br>
                                        <input type="text" class="form-control" name="{{forml.nombre.html_name}}" placeholder="Ingrese el nombre" value="{{ archivo.nombre }}" required>
                                    </div>
                                    <div class="form-items">
                                        <label>Apellido</label>
                                        <br>
                                        <input type="text" class="form-control" name="{{forml.apellido.html_name}}" placeholder="Ingrese el apellido" value="{{ archivo.apellido }}" required>
                                    </div>
                                    <div class="form-items">
                                        <label>Cédula</label>
                                        <br>
                                        <input type="text" class="form-control" name="{{forml.username.html_name}}" placeholder="Ingrese la cédula" value="{{ archivo.username }}" required>
                                    </div>
                                    <div class="form-items">
                                        <label>Tipo de Usuario</label>
                                        <br>
                                        <select name="{{forml.tipo.html_name}}" class="form-control">
                                            <option value="{{ archivo.tipo }}" selected>{{ archivo.tipo }}</option>
                                            <option value="" disabled>---------</option>
                                            <option value="admin">admin</option>
                                            <option value="superu">superu</option>
                                            <option value="estandar">estandar</option>
                                        </select>
                                    </div>
                                    <div class="form-items">
                                        <label>Sede</label>
                                        <br>
                                        <select name="{{forml.sede.html_name}}" class="form-control" required>
                                            {% for sede in sedesp%}
                                                <option value="{{ sede.name }}">{{ sede.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-items">
                                        <label>Departamento</label>
                                        <br>
                                        <select name="{{forml.departamento.html_name}}" class="form-control" required>
                                            <option value="{{ archivo.departamento }}" selected>{{ archivo.departamento }}</option>
                                            <option value="" disabled>---------</option>
                                            {% for dep in departamentosp%}
                                                <option value="{{ dep.name }}">{{ dep.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div align="center">
                                    <input type="submit" class="btn" value="Enviar" style="width: 90px;">
                                </div>
                            </form>
                        </div>
                    </div>
                    <script>
                        var modall{{ archivo.id }} = document.getElementById("myModall{{ archivo.id }}");
                        var btnn{{ archivo.id }} = document.getElementById("myBtnn{{ archivo.id }}");
                        var spann{{ archivo.id }} = document.getElementsByClassName("closee{{ archivo.id }}")[0];
                        btnn{{ archivo.id }}.onclick = function() {
                            modall{{ archivo.id }}.style.display = "block";
                        }
                    
                        spann{{ archivo.id }}.onclick = function() {
                            modall{{ archivo.id }}.style.display = "none";
                        }
                    
                        window.onclick = function(event) {
                            if (event.target == modall{{ archivo.id }}) {
                                modall{{ archivo.id }}.style.display = "none";
                            }
                        }
                    </script>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
    <!-- =========== Scripts =========  -->
    <script src="{% static '/js/main.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("La contraseña no coincide");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("La contraseña no coincide");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</html>